<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<! ––muestra vista de horario del usuario––>

<section class="card ajuste">
<div class="card-body">


    <h1>Horario</h1>

    <p></p>
    
    {{#each classSchedules}}
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/horarios.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Día: {{day}}</h5>
            <p class="card-text">Hora de Inicio: {{start_hour}}</p>
            <p class="card-text">Hora de Fin: {{end_hour}}</p>
            <p class="card-text">Clase: {{class}}</p>
        </div>
        </div>
    {{/each}}

</div>
</section>
