<section class="card ajuste">
    <div class="card-body">
    
    

        <form action="/assessment/carscheduleuser/{{carScheduleUser._id}}" method="POST">

        <h1>Día: {{carScheduleUser.dayString}}</h1>
        <p class="card-text">Fecha: {{carScheduleUser.dayDate}}</p>
        <p class="card-text">Hora de recogo: {{carScheduleUser.pick_hour}}</p>
        

        <div class="form-group">
        <label  class="text" for="score">Califica el viaje</label>
        <input type="number" value="1" class="form-control" id="cantidad" name="score" min="1" max="5">
        </div>


        <div class="form-group">
            <label class="text" for="description">Descripción</label>
            <textarea placeholder="Descripción" class="form-control" name="description" rows="3" required></textarea>
        </div>
        

        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    

    </div>
</section>